.product-card {
  max-width: 200px;
  margin: auto;
  font-size: 14px;
}

.product-card img {
  height: 150px;
  object-fit: cover;
}

.carousel {
  height: 150px;
}

.price, .number {
  font-size: 12px;
}
